* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  padding: 1.5rem;
  width: 100%;
  gap: 1.5rem;
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.champ__card {
  max-width: 375px;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.champ__card > img 
{
  max-height: 400px;
}
.champ__card > .skins{
  width: 100%;
  flex: 1;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
} 

.champ__card > .skins > div {
  width: calc((100% - 3rem) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.champ__card > .skins > div>img{
  width: 100%;
}